<h2>Best of luck</h2>
<ul>
  <li *ngFor="let movie of movies">
    <h2 (click)="movieClicked(movie)">{{movie.title}}</h2>
  </li>
</ul>
<hr>

Title<input type="text" [(ngModel)]="selectedmovie.title"/><br>
desc<input type="text" [(ngModel)]="selectedmovie.desc"/><br>
year<input type="text" [(ngModel)]="selectedmovie.year"/><br>
<button *ngIf="selectedmovie.id!=-1" (click)="updateMovie()">PUT</button>
<button (click)="createMovie()">POST</button>
<button (click)="simulate()">Simulate</button>
<button (click)="showplot()">Showplot</button>
<button *ngIf="selectedmovie.id!=-1" (click)="deleteMovie()">DELETE</button>
<button (click)="showcompo()">Showcompo</button>
<app-plotgraph *ngIf="showcompo_var"></app-plotgraph>
<div #chart>

</div>